#unordered-list{
       font-size: 16px; 
        color: #555;
        text-transform:uppercase;
        list-style-position:outside;
    }
    .para{
        font-family: 'Courier New'; 
        color:#222;
    }
    #overview{
        color: darkred;
        text-decoration:underline;
        background-color:bisque;
        font-style:italic;
    }
    #title{
        text-align:center;
    }
    .main{
        text-transform:uppercase;
        font-weight: bold ;
        color:blue;
    }
    .line-css{
        word-spacing:20px;
        line-height:-70px;
    }
    #planet{
       list-style-image:url(images/mercury.png); 
    }